<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Filtrado de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

In [54]:
# Carga el dataset de trabajo

import pandas as pd

In [55]:
df_dataset = pd.read_csv("merged_netflix_data.csv")
df_dataset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language,Originales
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Dick Johnson Is Dead,Documentary,"October 2, 2020",90.0,7.5,English,True
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,NaN,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,NaN,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,NaN,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df_dataset.rename(columns= {"IMDB Score" :"IMDB_Score"} , inplace= True)

#### Ejercicio 1: ¿Cuáles son todos los títulos lanzados en 2021 que son del tipo 'Movie'?

In [57]:
filtro1 = df_dataset["type"] == "Movie"
filtro2 = df_dataset["release_year"] == 2021

df_movie2021 = df_dataset[filtro1&filtro2]
df_movie2021

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB_Score,Language,Originales
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,NaN,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,"Klara Castanho, Lucca Picon, Júlia Gomes, Marc...",NaN,"September 22, 2021",2021,TV-PG,NaN,"Children & Family Movies, Comedies",When the clever but socially-awkward Tetê join...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,s19,Movie,Intrusion,Adam Salky,"Freida Pinto, Logan Marshall-Green, Robert Joh...",NaN,"September 22, 2021",2021,TV-14,NaN,Thrillers,After a deadly home invasion at a couple’s new...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425,s1426,Movie,Creating The Queen's Gambit,NaN,NaN,United States,"January 8, 2021",2021,TV-14,14 min,Documentaries,A fascinating character. Exquisite sets. A wig...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1431,s1432,Movie,Stuck Apart,NaN,"Engin Günaydın, Haluk Bilginer, Binnur Kaya, Ö...",Turkey,"January 8, 2021",2021,TV-MA,NaN,"Comedies, Dramas, International Movies","Entrenched in a midlife crisis, Aziz seeks sol...",Stuck Apart,Drama,"January 8, 2021",96.0,6.1,Turkish,True
1436,s1437,Movie,Ratones Paranoicos: The Band that Rocked Argen...,"Alejandro Ruax, Ramiro Martínez","Juan Sebastián Gutiérrez, Pablo Cano, Pablo Me...",NaN,"January 6, 2021",2021,TV-MA,76 min,"Documentaries, International Movies, Music & M...","The irrepressible Ratones Paranoicos, Argentin...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1466,s1467,Movie,The Minimalists: Less Is Now,NaN,NaN,United States,"January 1, 2021",2021,TV-14,54 min,Documentaries,They've built a movement out of minimalism. Lo...,The Minimalists: Less Is Now,Documentary,"January 1, 2021",53.0,5.9,English,True
1468,s1469,Movie,What Happened to Mr. Cha?,Kim Dong-kyu,"Cha In-pyo, Cho Dal-hwan, Song Jae-ryong",South Korea,"January 1, 2021",2021,TV-MA,NaN,"Comedies, International Movies","With the peak of his career long behind him, a...",What Happened to Mr. Cha?,Comedy,"January 1, 2021",102.0,4.3,Korean,True

#### Ejercicio 2: ¿Qué títulos tienen una duración de 90 minutos? Muestra solo las columnas de título y de duración.

In [58]:
filtro_duracion = df_dataset["duration"] == "90 min"
df_duracion_90 = df_dataset.loc[filtro_duracion, ["title","duration"]]
df_duracion_90

                                title duration
0                Dick Johnson Is Dead   90 min
94                          Show Dogs   90 min
107                  A Champion Heart   90 min
229                      The Old Ways   90 min
283              Misha and the Wolves   90 min
...                               ...      ...
8651                            Tyson   90 min
8655             Unaccompanied Minors   90 min
8670                    Vantage Point   90 min
8735  Who's That Knocking at My Door?   90 min
8776                       Yellowbird   90 min

[152 rows x 2 columns]

#### Ejercicio 3: ¿Cuáles son todos los títulos del país 'India' lanzados después de 2018?

In [59]:
filtro_pais = df_dataset["country"] == "India"
filtro_anio = df_dataset ["release_year"] > 2018
filtro_combinado = filtro_pais & filtro_anio
titulos_india = df_dataset.loc[filtro_combinado,["title","release_year","country"]]
titulos_india

                            title  release_year country
4                    Kota Factory          2021   India
39                   Chhota Bheem          2021   India
126                       Shikara          2020   India
190                    Thimmarusu          2021   India
266          The Creative Indians          2020   India
...                           ...           ...     ...
5966                       15-Aug          2019   India
6024                    7 (Seven)          2019   India
6464  Chhota Bheem Kungfu Dhamaka          2019   India
8121                  Super Bheem          2019   India
8173                    Thackeray          2019   India

[193 rows x 3 columns]

#### Ejercicio 4: ¿Qué títulos tienen clasificación 'TV-14' o 'R'?

In [60]:
filtro_clasificacion = (df_dataset["rating"]== "TV-14") | (df_dataset["rating"] == "R")
titulos_clasificacion = df_dataset.loc[filtro_clasificacion,["title","rating"]]
titulos_clasificacion

                                                title rating
8                       The Great British Baking Show  TV-14
18                                          Intrusion  TV-14
20    Monsters Inside: The 24 Faces of Billy Milligan  TV-14
21                             Resurrection: Ertugrul  TV-14
24                                              Jeans  TV-14
...                                               ...    ...
8794                                           اشتباك  TV-14
8799                                            Zenda  TV-14
8802                                           Zodiac      R
8804                                       Zombieland      R
8806                                           Zubaan  TV-14

[2959 rows x 2 columns]

#### Ejercicio 5: ¿Cuáles son los títulos dirigidos por 'Christopher Nolan' o 'Martin Scorsese'? ¿Cuántos a dirigido cada uno de los directores?

In [61]:
filtro_directores = (df_dataset["director"]== "Christopher Nolan") | (df_dataset["director"]== "Martin Scorsese")
titulos_directores = df_dataset.loc[filtro_directores,["title","director"]]
conteo_directores = titulos_directores["director"].value_counts()

print(f"Titulos dirigidos por Christopher Nolan o Martin Scorsese: {titulos_directores}")
print(f"Numero de titulos dirigidos por cada director:{conteo_directores}")

Titulos dirigidos por Christopher Nolan o Martin Scorsese:                                                   title           director
340                                           Inception  Christopher Nolan
1358                                     Shutter Island    Martin Scorsese
2632                       No Direction Home: Bob Dylan    Martin Scorsese
2860                                               Hugo    Martin Scorsese
3227                                       The Irishman    Martin Scorsese
3759  Rolling Thunder Revue: A Bob Dylan Story by Ma...    Martin Scorsese
6111                    Alice Doesn't Live Here Anymore    Martin Scorsese
6826                                  Gangs of New York    Martin Scorsese
6880                                         GoodFellas    Martin Scorsese
7431                                       Mean Streets    Martin Scorsese
7820                                        Raging Bull    Martin Scorsese
8272                                       The Departed    Martin Scorsese
8735                    Who's That Knocking at My Door?    Martin Scorsese
Numero de titulos dirigidos por cada director:director
Martin Scorsese      12
Christopher Nolan     1
Name: count, dtype: int64

#### Ejercicio 6: ¿Qué títulos pertenecen a los países 'United States', 'United Kingdom' o 'Canada'? Dentro de estos países, ¿cuántas películas tienen más de un lenguaje?

In [62]:

filtro_paises = df_dataset["country"].isin(["United States", "United Kingdom", "Canada"])
titulos_paises = df_dataset.loc[filtro_paises, ["title", "country", "Language"]]
filtro_lenguajes = titulos_paises["Language"].str.contains(",")
conteo_multilenguaje = filtro_lenguajes.sum()

print(f"Títulos de los países seleccionados:{titulos_paises}")


print(f"Número de películas con más de un lenguaje: {conteo_multilenguaje}")

Títulos de los países seleccionados:                              title         country Language
0              Dick Johnson Is Dead   United States  English
8     The Great British Baking Show  United Kingdom      NaN
9                      The Starling   United States      NaN
15                Dear White People   United States      NaN
27                        Grown Ups   United States      NaN
...                             ...             ...      ...
8791                    Young Adult   United States      NaN
8793           Yours, Mine and Ours   United States      NaN
8802                         Zodiac   United States      NaN
8804                     Zombieland   United States      NaN
8805                           Zoom   United States      NaN

[3418 rows x 3 columns]
Número de películas con más de un lenguaje: 0

#### Ejercicio 7: ¿Qué títulos fueron lanzados entre 2015 y 2020, inclusive?

In [63]:

filtro_anios = (df_dataset["release_year"] >= 2015) & (df_dataset["release_year"] <= 2020)
titulos_anios = df_dataset.loc[filtro_anios, ["title", "release_year"]]


print("Títulos lanzados entre 2015 y 2020:")
print(titulos_anios)

Títulos lanzados entre 2015 y 2020:
                                                  title  release_year
0                                  Dick Johnson Is Dead          2020
16    Europe's Most Dangerous Man: Otto Skorzeny in ...          2020
17                                      Falsa identidad          2020
21                               Resurrection: Ertugrul          2018
32                                        Sex Education          2020
...                                                 ...           ...
8796                                         Yunus Emre          2016
8797                                          Zak Storm          2016
8801                                            Zinzana          2015
8803                                        Zombie Dumb          2018
8806                                             Zubaan          2015

[5624 rows x 2 columns]

#### Ejercicio 8: ¿Cuáles son los títulos cuya puntuación en IMDb está entre 6.5 y 8.0 y que no sepamos cual es su duración?

In [65]:

filtro_puntuacion = (df_dataset["IMDB_Score"] >= 6.5) & (df_dataset["IMDB_Score"] <= 8.0)
filtro_duracion = df_dataset["duration"].isna()


filtro_combinado = filtro_puntuacion & filtro_duracion

titulos_filtrados = df_dataset.loc[filtro_combinado, ["title", "IMDB_Score", "duration"]]


print("Títulos con puntuación entre 6.5 y 8.0 y duración desconocida:")
print(titulos_filtrados)

Títulos con puntuación entre 6.5 y 8.0 y duración desconocida:
                            title  IMDB_Score duration
834                  Blue Miracle         6.7      NaN
895                        Oxygen         6.5      NaN
910                       Monster         6.5      NaN
1024       Arlo the Alligator Boy         6.7      NaN
1157                     Bad Trip         6.6      NaN
...                           ...         ...      ...
5783               Audrie & Daisy         7.2      NaN
5840   The Fundamentals of Caring         7.3      NaN
5849              Team Foxcatcher         7.3      NaN
5901                          Tig         7.4      NaN
5906  What Happened, Miss Simone?         7.6      NaN

[77 rows x 3 columns]

#### Ejercicio 9: ¿Cuáles son las películas cuya duración de 90 y 150 minutos?

In [66]:
filtro_duracion = (df_dataset["duration"] == "90 min") | (df_dataset["duration"] == "150 min")

filtro_tipo = df_dataset["type"] == "Movie"

filtro_combinado = filtro_duracion & filtro_tipo


peliculas_duracion = df_dataset.loc[filtro_combinado, ["title", "duration", "type"]]


print("Películas con duración de 90 o 150 minutos:")
print(peliculas_duracion)

Películas con duración de 90 o 150 minutos:
                                  title duration   type
0                  Dick Johnson Is Dead   90 min  Movie
94                            Show Dogs   90 min  Movie
107                    A Champion Heart   90 min  Movie
205   Kyo Kii... Main Jhuth Nahin Bolta  150 min  Movie
229                        The Old Ways   90 min  Movie
...                                 ...      ...    ...
8651                              Tyson   90 min  Movie
8655               Unaccompanied Minors   90 min  Movie
8670                      Vantage Point   90 min  Movie
8735    Who's That Knocking at My Door?   90 min  Movie
8776                         Yellowbird   90 min  Movie

[169 rows x 3 columns]

#### Ejercicio 10: ¿Cuáles son los títulos que contienen la palabra 'Love' en su título y que sean de tipo TV Show?

In [67]:
filtro_titulo = df_dataset["title"].str.contains("Love", case=False, na=False)
filtro_tipo = df_dataset["type"] == "TV Show"
filtro_combinado = filtro_titulo & filtro_tipo

titulos_love_tvshow = df_dataset.loc[filtro_combinado, ["title", "type"]]


print("Títulos que contienen 'Love' y son de tipo TV Show:")
print(titulos_love_tvshow)

Títulos que contienen 'Love' y son de tipo TV Show:
                                   title     type
25                  Love on the Spectrum  TV Show
659      Bangkok Love Stories: Innocence  TV Show
731      Love (ft. Marriage and Divorce)  TV Show
883                 Love, Death & Robots  TV Show
1032                        Love Naggers  TV Show
...                                  ...      ...
7632  O-Negative, Love Can’t Be Designed  TV Show
7892                  Roonpi Secret Love  TV Show
8567      The Year of Happiness and Love  TV Show
8575                     This Is My Love  TV Show
8721                       What Is Love?  TV Show

[71 rows x 2 columns]

#### Ejercicio 11: ¿Cuáles son los títulos en los que el director tiene el apellido 'Johnson'?

In [68]:

filtro_director = df_dataset["director"].str.contains(r"\bJohnson$", case=False, na=False)
titulos_directores_johnson = df_dataset.loc[filtro_director, ["title", "director"]]


print("Títulos dirigidos por alguien con apellido 'Johnson':")
print(titulos_directores_johnson)

Títulos dirigidos por alguien con apellido 'Johnson':
                                       title                         director
0                       Dick Johnson Is Dead                  Kirsten Johnson
829                         Dog Gone Trouble                    Kevin Johnson
846                                     Home                      Tim Johnson
2052                        Love, Guaranteed              Mark Steven Johnson
2083                    The Debt Collector 2                 Jesse V. Johnson
2455                              The Stolen                    Niall Johnson
2496                               Honeytrap                  Rebecca Johnson
3511                              Avengement                 Jesse V. Johnson
3717                           Triple Threat  Jesse V. Johnson, Jesse Johnson
4033                                 Juanita                    Clark Johnson
4661                      The Debt Collector                 Jesse V. Johnson
4698       To All the Boys I’ve Loved Before                    Susan Johnson
4833                        Alex Strangelove                    Craig Johnson
5282                            Carrie Pilby                    Susan Johnson
6376                                   Brick                     Rian Johnson
6802                           Freshman Year          Jude Okwudiafor Johnson
6847                             Ghost Rider              Mark Steven Johnson
7241                  Kung Fu Panda: Holiday                      Tim Johnson
7369                               Mad Money  Callie Khouri, Jesse V. Johnson
7622                             Nowhere Boy               Sam Taylor-Johnson
7912                                S.W.A.T.                    Clark Johnson
7946                              Savage Dog                 Jesse V. Johnson
8082  Star Wars: Episode VIII: The Last Jedi                     Rian Johnson

#### Ejercicio 12: ¿Tenemos algún documental ('Documentaries') de Mike Tyson?

In [69]:

filtro_documental = df_dataset["type"] == "Documentary"

filtro_mike_tyson = df_dataset["title"].str.contains("Mike Tyson", case=False, na=False) | df_dataset["director"].str.contains("Mike Tyson", case=False, na=False)

filtro_combinado = filtro_documental & filtro_mike_tyson

documentales_tyson = df_dataset.loc[filtro_combinado, ["title", "type", "director"]]


print("Documentales de Mike Tyson:")
print(documentales_tyson)

Documentales de Mike Tyson:
Empty DataFrame
Columns: [title, type, director]
Index: []

#### Ejercicio 13: Selecciona solo las columnas 'title', 'country' y 'release_year' del dataset.

In [70]:

columnas_seleccionadas = df_dataset[["title", "country", "release_year"]]


print(f"Títulos, países y años de lanzamiento:{columnas_seleccionadas}")

Títulos, países y años de lanzamiento:                      title        country  release_year
0      Dick Johnson Is Dead  United States          2020
1             Blood & Water   South Africa          2021
2                 Ganglands            NaN          2021
3     Jailbirds New Orleans            NaN          2021
4              Kota Factory          India          2021
...                     ...            ...           ...
8802                 Zodiac  United States          2007
8803            Zombie Dumb            NaN          2018
8804             Zombieland  United States          2009
8805                   Zoom  United States          2006
8806                 Zubaan          India          2015

[8807 rows x 3 columns]

#### Ejercicio 14: Filtra las columnas que contienen la palabra 'date'.

In [71]:

columnas_date = df_dataset.filter(like="date", axis=1)


print(f"Columnas que contienen la palabra 'date':{columnas_date}")

Columnas que contienen la palabra 'date':              date_added
0     September 25, 2021
1     September 24, 2021
2     September 24, 2021
3     September 24, 2021
4     September 24, 2021
...                  ...
8802   November 20, 2019
8803        July 1, 2019
8804    November 1, 2019
8805    January 11, 2020
8806       March 2, 2019

[8807 rows x 1 columns]

#### Ejercicio 15: Usando `query()`, filtra todos los títulos del país 'France' con una duración de 80 minutos.

In [72]:

titulos_francia_80min = df_dataset.query("country == 'France' and duration == '80 min'")


print("Títulos del país 'France' con duración de 80 minutos:")
print(titulos_francia_80min[["title", "country", "duration"]])

Títulos del país 'France' con duración de 80 minutos:
     title country duration
5474  Arès  France   80 min

#### Ejercicio 16: Filtra los títulos que son películas ('Movie') y fueron lanzados antes de 2010.

In [73]:

titulos_peliculas_antes_2010 = df_dataset.query("type == 'Movie' and release_year < 2010")


print("Películas lanzadas antes de 2010:")
print(titulos_peliculas_antes_2010[["title", "type", "release_year"]])

Películas lanzadas antes de 2010:
                     title   type  release_year
7                  Sankofa  Movie          1993
22         Avvai Shanmughi  Movie          1996
24                   Jeans  Movie          1998
26          Minsara Kanavu  Movie          1997
41                    Jaws  Movie          1975
...                    ...    ...           ...
8793  Yours, Mine and Ours  Movie          2005
8799                 Zenda  Movie          2009
8802                Zodiac  Movie          2007
8804            Zombieland  Movie          2009
8805                  Zoom  Movie          2006

[1153 rows x 3 columns]

#### Ejercicio 17: Encuentra los 10 títulos con las puntuaciones más altas en IMDb.

In [74]:
titulos_imdb = df_dataset[df_dataset["IMDB_Score"].notna()]


top_10_imdb = titulos_imdb.sort_values(by="IMDB_Score", ascending=False).head(10)


print("Top 10 títulos con las puntuaciones más altas en IMDb:")
print(top_10_imdb[["title", "IMDB_Score"]])

Top 10 títulos con las puntuaciones más altas en IMDb:
                                            title  IMDB_Score
1886     David Attenborough: A Life on Our Planet         9.0
4293                      Springsteen on Broadway         8.5
5893  Winter on Fire: Ukraine's Fight for Freedom         8.4
5152                       Cuba and the Cameraman         8.3
3386                       Dancing with the Birds         8.3
1857        The Three Deaths of Marisela Escobedo         8.2
1171                                   Seaspiracy         8.2
3273                                        Klaus         8.2
5376                                Chasing Coral         8.1
2038                           My Octopus Teacher         8.1

#### Ejercicio 18: Encuentra los 5 títulos con las puntuaciones más bajas en IMDb.

In [75]:
titulos_imdb = df_dataset[df_dataset["IMDB_Score"].notna()]
bottom_5_imdb = titulos_imdb.sort_values(by="IMDB_Score", ascending=True).head(5)


print("Top 5 títulos con las puntuaciones más bajas en IMDb:")
print(bottom_5_imdb[["title", "IMDB_Score"]])

Top 5 títulos con las puntuaciones más bajas en IMDb:
                title  IMDB_Score
3623  Enter the Anime         2.5
3094          The App         2.6
2104      Dark Forces         2.6
5073   The Open House         3.2
1777      Kaali Khuhi         3.4

#### Ejercicio 19: Filtra todos los títulos que no tienen un director asignado (valores nulos en la columna 'director').

In [76]:
titulos_sin_director = df_dataset[df_dataset["director"].isna()]


print("Títulos sin director asignado:")
print(titulos_sin_director[["title", "director"]])

Títulos sin director asignado:
                                    title director
1                           Blood & Water      NaN
3                   Jailbirds New Orleans      NaN
4                            Kota Factory      NaN
10    Vendetta: Truth, Lies and The Mafia      NaN
14        Crime Stories: India Detectives      NaN
...                                   ...      ...
8795                      Yu-Gi-Oh! Arc-V      NaN
8796                           Yunus Emre      NaN
8797                            Zak Storm      NaN
8800                   Zindagi Gulzar Hai      NaN
8803                          Zombie Dumb      NaN

[2634 rows x 2 columns]

#### Ejercicio 20: Filtra todos los títulos que tienen información completa en las columnas 'title', 'country' y 'IMDB Score'.

In [78]:
titulos_completos = df_dataset.dropna(subset=["title", "country", "IMDB_Score"])


print("Títulos con información completa en 'title', 'country' y 'IMDB_Score':")
print(titulos_completos[["title", "country", "IMDB_Score"]])

Títulos con información completa en 'title', 'country' y 'IMDB_Score':
                                                 title  \
0                                 Dick Johnson Is Dead
141                                         Extraction
834                                       Blue Miracle
836                                          Ghost Lab
840                        Baggio: The Divine Ponytail
...                                                ...
5901                                               Tig
5906                       What Happened, Miss Simone?
5910                                  Hot Girls Wanted
5912  The Other One: The Long Strange Trip of Bob Weir
5916                                        My Own Man

                                    country  IMDB_Score
0                             United States         7.5
141   United States, United Kingdom, Canada         6.7
834                           United States         6.7
836                                Thailand         5.2
840                                   Italy         6.2
...                                     ...         ...
5901                          United States         7.4
5906                          United States         7.6
5910                          United States         6.1
5912                          United States         7.3
5916                          United States         6.4

[499 rows x 3 columns]

#### Ejercicio 21: Identifica si hay títulos duplicados en la columna 'title'.

In [79]:

titulos_duplicados = df_dataset[df_dataset.duplicated(subset=["title"], keep=False)]

# Mostrar los resultados
print("Títulos duplicados:")
print(titulos_duplicados[["title"]])

Títulos duplicados:
Empty DataFrame
Columns: [title]
Index: []